@use "../../scss/variables" as *;

.navigation {
  .nav-items {
    list-style-type: none;
    display: flex;
  }

  .nav-item {
    border-radius: 12px;
    padding: 12px 20px;
    user-select: none;
    cursor: pointer;

    &:hover {
      color: $primary-color;
      background-color: rgba($primary-color, 0.1);
    }
  }
}
